HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/Log/
/src/main/resources/Files/
/Logs/
/logs/
/src/main/resources/application.properties


/target/onboard-application.jar
/target/onboard-application.jar.original
/docker-compose.yml
/Dockerfile
/src/test/resources/application.properties
/src/test/resources/Files/
/src/testbeforePmd.zip
/test.pdf
/AssetFile.xlsx
/src/main/resources/





