HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/Log/
/src/main/resources/Files/



/target/**
/docker-compose.yml
/Dockerfile

/src/testbeforePmd.zip
/test.pdf
/AssetFile.xlsx
/src/main/resources/





